<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey</title>
    <script src="/public/js/angular.js"></script>
    <script src="/angoose/angoose-client.js"></script>
</head>
<body ng-app="app">

    <div ng-controller="HomeController" ng-model="survey.page[pageIndex]">
        <h2>{{survey.page[pageIndex].title}}</h2>
        <question ng-repeat="question in survey.page[pageIndex].question">
            <p>{{question.text}} 
                <span ng-if="question.fieldType == 'text'">
                    <question-Input />
                </span>
                <span ng-if="question.fieldType == 'select'">
                    <question-Select />
                </span>
            </p>
        </question>
        <action>
            <span ng-if="survey.page[pageIndex].submit.submitType == 'button'">
                <action-Type />
            </span>
        </action>
        
        <pre>survey = {{survey | json}}</pre>
    </div>

    
    
    
    <script>
        angular.module("app", ['angoose.client']).controller("HomeController", function($scope, $http, $timeout, Survey, Response) {
            //Temporary sessionId
            $scope.sessionId = 123456789;
            
            $scope.appId = 5;
            $scope.pageIndex = 0;
            $scope.survey = Survey.$get({'appId':$scope.appId});
            
            $scope.submitForm = function () {
                Response.update({ sessionId:$scope.sessionId }, $scope.survey, { upsert:true }, function(err, result) {
                    if(!err){
                        console.log('respinse saved!');
                    }else{
                        console.log('error saving: ' + err);
                    }
                });
            }
            
            
        })
        .directive("questionInput", function() {
            return {
                restrict: "E",
                template: "<input type='text' name='{{question.name}}' ng-model='question.answer' />"
            };
        }).directive("questionSelect", function() {
            return {
                restrict: "E",
                template: "<select><option>Select One...</option></select>"
            };
        }).directive("actionType", function() {
            return {
                restrict: "E",
                template: "<button ng-click='submitForm()'>{{survey.page[pageIndex].submit.submitLabel}}</button>"
            };
        });
    </script>
    
</body>
</html>