<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application Builder</title>
    <script src="/public/js/angular.js"></script>
    <script src="/angoose/angoose-client.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body ng-app="app" ng-controller="PageController">
    <div ng-include="'/public/html/includes/nav.html'"></div>
    
    <div class="container">
        <h3>Application Builder</h3>

        <ol class="breadcrumb">
                <li><a href="/dashboard">Applications</a></li>
                <li class="active">{{survey.name}} <span class="badge">{{survey.page.length}} pages</span></li>
            </ol>
        
        <div style="width:50%;float:left;">
            <form>
                <div class="form-group">
                    <label>Page Name:</label>
                    <input type="text" class="form-control" ng-model="page.name" placeholder="homePage">
                </div>
                <div class="form-group">
                    <label>Page Title:</label>
                    <input type="text" class="form-control" ng-model="page.title" placeholder="My Page Title">
                </div>
                <div class="form-group">
                    <label>Page Submit Type:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" value="button" ng-model="page.submitType"> Button
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="link" ng-model="page.submitType"> Link
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Page Submit Label:</label>
                    <input type="text" class="form-control" ng-model="page.submitLabel" placeholder="Submit">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="savePage(page)">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Page
                    </button>
                </div>
            </form>
        </div>
        <div style="width:50%;float:left;padding:25px 0 0 10px;">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Debug Panel</h3></div>
                <div class="panel-body">
                    <pre style="height:100px;">page = {{page|json}}</pre>
                    <pre style="height:200px;">survey = {{survey|json}}</pre>
                </div>
            </div>
        </div>
        
        <div style="width:100%;float:left;">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Pages</h3></div>
                <table class="table" ng-model="survey">
                    <tr>
                        <th>Order</th>
                        <th>Page Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="page in survey.page track by page.index">
                        <td>
                            <button type="button" class="btn btn-sm btn-default" ng-click="configQuestions(page.index)">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td><input type="text" class="form-control" ng-model="page.name" value="{{page.name}}"></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="configQuestions(page.index)">
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="configQuestions(page.index)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            
                            <span class="badge">{{page.question.length}} questions</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <p>&nbsp;</p>
    
    <script>
        angular.module("app", ['angoose.client']).controller("PageController", function($scope, $http, $location, Survey, Page, PageSubmit) {
            
            $scope.appId = 2;
            
            $scope.init = function () {
                Survey.findOne({appId:$scope.appId}, function (err, _survey){
                    if(err){
                        console.log(err);
                    }else{
                        if(_survey == null){
                            $scope.getBlankSurvey();    
                        }else{
                            $scope.survey = _survey;
                        }
                    }
                });
                
            }
            
            $scope.configQuestions = function (_pageIndex) {
                $scope.saveSurvey();
                window.location = '/builder/question#/?appId=' + $scope.appId + '&pageIndex=' + _pageIndex;
            }
            
            $scope.saveSurvey = function () {
                Survey.update({ appId:$scope.survey.appId }, $scope.survey, { upsert:true }, function(err, result) {
                    if(!err){
                        console.log('survey saved!');
                    }else{
                        console.log('error saving: ' + err);
                    }
                });
            }
            
            $scope.savePage = function (_page) {
                $scope.survey.page.push(new Page ({
                    index:$scope.survey.page.length,
                    name:_page.name,
                    title:_page.title,
                    submit:new PageSubmit({
                        submitType:_page.submitType,
                        submitLabel:_page.submitLabel
                    }),
                    question:[]
                }));
                $scope.pageIndex++;
                $scope.saveSurvey();
            }
            
            $scope.getBlankSurvey = function () {
                var survey = new Survey({
                    appId:$scope.appId,
                    name:'New Survey',
                    page:[]
                });

                $scope.survey = survey;   
            }
            
            $scope.init();
        });
    </script>
    
</body>
</html>