<!DOCTYPE html>
<html lang="en">
<head>
    <title>Builder</title>
    <script src="/public/js/angular.js"></script>
    <script src="/angoose/angoose-client.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body ng-app="app" ng-controller="HomeController">
    <div ng-include="'/public/html/includes/nav.html'"></div>
    
    <div class="container">    
        <h3>Survey Builder</h3>
        <div style="width:100%;float:left;">
        
            <ol class="breadcrumb">
                <li><a href="/dashboard">Applications</a></li>
                <li><a href="/builder/page">{{survey.name}}</a></li>
                <li class="active">{{page.title}} <span class="badge">{{page.question.length}} questions</span></li>
            </ol>
            
            <form>
                <div class="form-group">
                    <label>Question Name:</label>
                    <input type="text" class="form-control" ng-model="question.name">
                </div>

                <div class="form-group">
                    <label>Question Text:</label>
                    <input type="text" class="form-control" ng-model="question.text">
                </div>

                <div class="form-group">
                    <label>Question Field Type:</label>
                    <select class="form-control" ng-model="question.fieldType">
                        <option value="text">Textbox - For open-ended questions. Example: "What is your name?"</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" ng-click="addQuestion(question)">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Question
                    </button>
                </div>
            </form>

            <hr>
            
            <div ng-model="survey" ng-repeat="question in page.question track by question.index">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Question Name:</label>
                        <input type="text" class="form-control" ng-model="question.name" ng-blur="saveSurvey()">
                    </div>

                    <div class="form-group">
                        <label>Question Text:</label>
                        <input type="text" class="form-control" ng-model="question.text" ng-blur="saveSurvey()">
                    </div>

                    <div class="form-group">
                        <label>Field Type:</label>
                        <input type="text" class="form-control" ng-model="question.fieldType" ng-blur="saveSurvey()">
                    </div>
                    
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="configQuestions(page.index)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <p>&nbsp;</p>
    
<!--    <pre>survey = {{survey | json}}</pre>-->
    
    <script>
        angular.module("app", ['angoose.client']).controller("HomeController", function($scope, $http, $location, Survey, Page, PageSubmit, Question) {
            $scope.appId = $location.search().appId;
            $scope.pageIndex = $location.search().pageIndex;
            
            $scope.init = function () {
                Survey.findOne({appId:$scope.appId}, function (err, _survey){
                    if(err){
                        console.log(err);
                    }else{
                        $scope.survey = _survey;
                        $scope.page = _survey.page[$scope.pageIndex];
                        $scope.questionIndex = $scope.page.question.length;
                    }
                });
                
            }
            
            $scope.addQuestion = function (_question) {
                $scope.question = null;
                $scope.survey.page[$scope.pageIndex].question.push(new Question({
                    index:$scope.questionIndex,
                    name:_question.name.replace(/\s/g, '').toLowerCase(),
                    text:_question.text,
                    fieldType:_question.fieldType,
                    answer:''
                }));
                $scope.questionIndex++;
                $scope.saveSurvey();
            }
            
            $scope.saveSurvey = function () {
                Survey.update({ appId:$scope.survey.appId }, $scope.survey, { upsert:true }, function(err, result) {
                    if(!err){
                        console.log('survey saved!');
                    }else{
                        console.log('error saving: ' + err);
                    }
                });
            }
            
            $scope.init();
        });
    </script>
    
</body>
</html>